body{
    background-color: rgb(243, 243, 255);
}

nav {
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

#navigation {
    position: relative; /* Добавяме relative position на #navigation */
    margin-left: 24%;
}

#navigation li {
    display: inline-block;
    margin-top: 50px;
}

#navigation li a {
    color: rgb(37, 37, 82);
    text-decoration: none;
    font-size: 22px;
    padding: 30px;
}

#navigation .cart {
   margin-left: 250px;
}
#navigation .username{
    margin: 5px;
}

.mobile-navigation-image {
    display: none; /* По подразбиране изображението е скрито */
}

@media screen and (max-width: 768px) {
    #navigation {
        display: none; /* Скриваме навигационния бар при по-малки екрани */
    }

    .mobile-navigation-image {
        display: block; /* Показваме изображението при по-малки екрани */
        width: 100%; /* Задаваме ширина на изображението да пасва на екрана */
        max-width: 100%; /* Задаваме максимална ширина на изображението */
        text-align: right;
        margin-top: 10px;
        padding-right: 20px;
        font-size: 30px;
    }

    

    
}
