<div id="carouselExampleAutoplaying" class="carousel slide">

    <div class="carousel-inner" id="admin-home">
        <div class="carousel-item active">
            <img src="/content/img-admin/background1.jpg" class="d-block w-100-height" alt="img1">

            <div class="carousel-caption carousel1">
                <h5 id="title-admin">Добре дошли <br> в Домко-Админ! <br></h5>

            </div>
        </div>

    </div>

</div>