<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200;1,300&display=swap"
        rel="stylesheet">
    <title>Добре дошли | Домко</title>
</head>

<body>
    <section id="background">
        <div id="bg-img"></div>
        <p>Недвижими имоти "Домко"</p>

        <div class="buttons">

            <a href="/" class="bulgaria">Начало</a>
            <a href="/" class="english">Get Started</a>
        </div>
    </section>
</body>

</html>