<header class="header">
    <div class="container">
        <div class="header-bg">
            <div class="content">
                <h1>Намерете своя <span>мечтан</span> дом с <strong>Домко</strong></h1>
                <p>Продажби и наеми в модерни жилищни сгради на най-ниски цени</p>
                <button class="btn-more">Още информация</button>
            </div>

            <div class="form">
                <form>
                    <div class="group">
                        <input type="text" id="location" class="input">
                        <label for="location" class="label">City or Street</label>
                        <p>Where you want live?</p>
                    </div>
                    <div class="group">
                        <input type="text" id="min" class="input">
                        <label for="min" class="label">Min Price</label>
                        <p>Choose minimum price</p>
                    </div>
                    <div class="group">
                        <input type="text" id="max" class="input">
                        <label for="max" class="label">Max price</label>
                        <p>Choose maximum price</p>
                    </div>
                    <div class="flex-group">
                        <div class="flex-col">
                            <input type="radio" name="salerent" id="sale">
                            <label for="sale">Sale</label>
                        </div>
                        <div class="flex-col">
                            <input type="radio" name="salerent" id="rent">
                            <label for="rent">Rent</label>
                        </div>
                        <p>Choose beween Sale or Rent</p>
                    </div>
                </form>
                <button class="btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
</header>