.page-title{
    text-align: center;
    padding-top: 20px;
}

.about-form{
    padding-top: 20px;
    padding: 30px;
    width: 1000px;
}

.card-apartament{
    display: flex;
    padding: 20px;
}

#create-rent{
    padding: 20px;
}
