.page-title{
    text-align: center;
    padding-top: 20px;
}

.about-form{
    padding-top: 20px;
    padding: 30px;
    width: 1000px;
}

.card-apartament{
    display: flex;
    padding: 20px;
}

#create-rent{
    padding: 20px;
}

.page-title-3{
    padding-top: 20px;
    text-align: center;
    font-style: italic;
}
.history-paragraph{
    width: 95%;
    padding: 20px;
    text-align: center;
}
.contact-info{
    width: 60%;
    padding: 30px;
}
#reserve-form{
    width: 60%;
    padding: 30px;
}

.footer{
    background-color: black;
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin-top: 80px;    
}