@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0rem 1rem;
    margin: auto;
}

body {
    background-color: #fafafa;
}

.navbar {
    background-color: #fff;
    padding: 2rem 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem 1rem;
}

.site-logo,
.logo-link {
    font-size: 20px;
    font-weight: 600;
    color: #2c2855;
}

.navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.navigation .link a {
    font-size: 17px;
    font-weight: 400;
    color: #2c2855bb;
    text-transform: capitalize;
    transition: all 0.3s;
}

.navigation .link a:hover {
    color: #2c2855;
}

header .container {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

header .header-bg {
    height: 450px;
    background: linear-gradient(to right, #2c2855, transparent), url(../img/header.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header .content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header .content h1 {
    font-size: 34px;
    line-height: 54px;
    font-weight: 300;
    color: #fff;
    max-width: 550px;
}

header .content p {
    font-size: 18px;
    line-height: 24px;
    color: #eee;
}

header .content .btn-more {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #2c2855;
    background-color: #fff;
    padding: 0.65rem 1.6rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    width: fit-content;
    margin-top: 1.2rem;
}

header .form {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-top: -3rem;
    padding: 1rem;
    display: flex;
    background-color: #2c2855;
    backdrop-filter: blur(5px);
    width: 95%;
    box-shadow: 2px 2px 4px #333;
    border-radius: 1rem;
}

header .form form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

header form .group {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
}

header form .flex-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0.2rem;
}

header form .flex-col {}


header form .flex-group p {
    grid-column: span 2;
    padding-top: 0.7rem;

}

header form .group input {
    padding: 0.5rem 0rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
}

header form .group label {
    position: absolute;
    top: 13px;
    font-size: 18px;
    color: #fff;
}

header form .input:focus~label {
    top: -8px;
    font-size: 12px;
    color: #eee;
}

header form .flex-group label {
    font-size: 18px;
    color: #fff;
}

header form p {
    padding: 0.5rem 0rem;
    font-size: 14px;
    color: #fff;
}

header .form .btn {
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #2c2855bb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    transition: all 0.6s;
    margin-top: 10px;
    cursor: pointer;
}

header .form .btn:hover {
    background-color: #000;
    color: #fff;
    font-size: 21px;
}

.section .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

section .heading .title {
    font-size: 28px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    color: #2c2855bb;
    text-align: center;
    letter-spacing: 4px;
}

section .heading .subtitle {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #2c2855bb;
    text-align: center;
}

.latest {
    margin-top: 10rem;
    background-color: #fafafa;
}



.latest .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.latest .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    overflow: hidden;
}

.latest .items .card {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 4px #aaa;
    border-radius: 5px;
    border-right: 2px solid #aaa;
}

.latest .items .image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    cursor: pointer;
    transition: all 90ms;

}

.latest .items .image img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest .items .image:hover img {
    transform: scale(1.08);
}

.latest .content {
    padding: 1rem;
    background-color: #fff;
}

.latest .content .content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.latest .content-flex h4 {
    font-size: 20px;
    font-weight: 400;
    color: #2c2855bb;
}

.latest .content-flex .id {
    font-weight: 500;
    color: #2c2855;
}

.latest .content p {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    width: 90%;
    padding: 0.5rem 0rem;
}

.client {
    margin-top: 10rem;
    background-color: #f1f1f1;
    padding: 2rem 0rem;
}

.client .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.client .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    overflow: hidden;
    padding: 2rem;
}

.client .items .card {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 4px #aaa;
    border-radius: 5px;
    border-right: 2px solid #aaa;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    background-color: #fff;
}


.client .items img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
}

.client .stars {
    display: flex;
    gap: 0.2rem;
}

.client .stars span {
    font-size: 20px;
    color: #2c2855bb;
}

.client .stars .active {
    color: #2c2855;
}

.client p {
    font-size: 17px;
    line-height: 23px;
    color: #2c2855;
    text-align: center;
}

.contact {
    background-color: #fff;
    padding: 2rem 0rem;
}

.contact .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 2rem 0rem;
}

.contact .info {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contact .contact-form form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact-form .input-col {
    background-color: #eee;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0rem 0.4rem;
    overflow: hidden;
}

.contact-form .textarea-col {
    background-color: #eee;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0rem 0.4rem;
}

.contact-form .input-col input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2c2855bb;
    padding: 0.7rem;
}

.contact-form .input-col i {
    font-size: 16px;
    color: #2c2855;
}

.contact-form .textarea-col textarea {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #2c2855bb;
    padding: 0.7rem;
    width: 100%;
}

.contact-form .btn-col {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1.2rem 0.5rem;
}

.contact-form .btn-contact {
    width: fit-content;
    padding: 0.6rem 2.6rem;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #2c2855bb;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
    border-radius: 3px;
}

.contact-form .btn-contact:hover {
    background-color: #2c2855;
}

.contact-form .btn-cancel {
    width: fit-content;
    padding: 0.6rem 2.6rem;
    font-size: 14px;
    font-weight: 500;
    color: #2c2855bb;
    background-color: #eee;
    border: 1px solid #2c2855bb;
    cursor: pointer;
    transition: all 0.6s;
    border-radius: 5px;
}

.contact-form .btn-cancel:hover {
    background-color: #fff;
}

footer {
    background-color: #111;
    padding-top: 2rem;
}

footer .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2rem 0rem;
}

footer .items .col {
    width: 100%;
}

footer .items h4 {
    width: 100%;
    padding-bottom: 1rem;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

footer .items .site-logo {
    width: 100%;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

footer .items .site-logo .logo-link {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
}

footer .items ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

footer .items ul a {
    font-size: 15px;
    color: #eee;
}

footer .items ul a:hover {
    font-size: 15px;
    color: #eee;
}

footer .rights {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    padding: 0.75rem 0rem;
    border-top: 1px solid #555;
}

footer .rights a {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}


@media(max-width:750px) {
    .navigation {
        display: flex;
        gap: 0.8rem;
    }

    .navigation .link a {
        font-size: 14px;
    }

    .contact-form .row {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .contact-form .row input{
        width: 90%;
    }
    .contact-form .row textarea{
        width: 100%;
    }
    header .form {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 120%);
    }
    .latest{
        margin-top: 80vh;
    }
}