<h1 class="page-title">Вход на администратор</h1>

<div class="about-form">
    <form action="/admin/login" method="POST" id="login">
        <div class="mb-3">
            <label for="username" class="form-label">Потребителско име</label>
            <input type="text" class="form-control" id="username" placeholder="Въведете потребителско име"
                name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Парола</label>
            <input type="password" class="form-control" id="password" placeholder="Въведете парола" name="password">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Влизане</button>
        </div>
    </form>
</div>