<section id="loginForm">
    <div class="contact mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Регистрация</h3>

                    <form action="/user/register" method="POST" id="register">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="username" class="form-label">Потребителско име</label>
                                <input type="text" class="form-control" id="username"
                                    placeholder="Въведете потребителско име" name="username" required>
                            </div>

                            <div class="col-md-6">
                                <label for="email" class="form-label">Имейл</label>
                                <input type="text" class="form-control" id="email" placeholder="Въведете имейл"
                                    name="email" required>
                            </div>
                            <div class="col-md-6">
                                <label for="ages" class="form-label">Възраст</label>
                                <input type="number" class="form-control" id="ages" placeholder="Въведете вашата възраст"
                                    name="ages" required>
                            </div>
                            <div class="col-md-6">
                                <label for="location" class="form-label">Местоположение</label>
                                <input type="text" class="form-control" id="location" placeholder="Въведете вашето местоположение"
                                    name="location" required>
                            </div>
                            <div class="col-md-6">
                                <label for="profileImg" class="form-label">Профилна снимка</label>
                                <input type="text" class="form-control" id="profileImg" placeholder="Въведете URL"
                                    name="profileImg" required>
                            </div>
                              <div class="col-md-6">
                                <label for="interests" class="form-label">Вашите интереси</label>
                                <input type="text" class="form-control" id="" placeholder="Въведете вашите интереси"
                                    name="interests" required>
                            </div>
                            {{!-- <div class="col-md-6">
                                <label for="interests" class="form-label">Вашите интереси</label>
                                <input type="text" class="form-control" id="interests" placeholder="Въведете вашите интереси"
                                    name="interests" required>
                            </div> --}}
                            
                            <div class="col-md-6">
                                <label for="password" class="form-label">Парола</label>
                                <input type="password" class="form-control" id="password" placeholder="Въведете парола"
                                    name="password" required>
                            </div>
                            <div class="col-md-6">
                                <label for="rePass" class="form-label">Повторете паролата</label>
                                <input type="password" class="form-control" id="rePass" placeholder="Повторете паролата"
                                    name="rePass" required>
                            </div>

                            <div class="mt-3 mb-5">
                                <button class="btn text-white bg-dark px-3 btn-lg rounded-0">Регистрация</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>