<h1 class="page-title">За нас</h1>

<div class="about-form">
    <form action="/admin/about" method="POST" id="about">
        <div class="mb-3">
            <label for="title" class="form-label">Заглавие на страницата</label>
            <input type="text" class="form-control" id="title" placeholder="Въведете заглавие на страницата" name="title">
        </div>
        <div class="mb-3">
            <label for="history" class="form-label">История на фирмата</label>
            <input type="text" class="form-control" id="history" placeholder="Опишете историята" name="history">
        </div>
         <div class="mb-3">
            <label for="info" class="form-label">Услуги на фирмата</label>
            <input type="text" class="form-control" id="info" placeholder="Опишете услугите, предлагани от фирмата" name="info">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Редактиране</button>
        </div>
    </form>
</div>