<form class="row g-3" action="/admin/createRent" method="POST" id="createRent">
  <div class="col-md-6">
    <label for="type" class="form-label">Тип жилище:</label>
    <input type="text" class="form-control" id="type">
  </div>
  <div class="col-md-6">
    <label for="quadrature" class="form-label">Размер на жилището:</label>
    <input type="text" class="form-control" id="quadrature">
  </div>
  <div class="col-12">
    <label for="price" class="form-label">Цена:</label>
    <input type="text" class="form-control" id="pricе">
  </div>
  <div class="col-12">
    <label for="description" class="form-label">Описание на имота:</label>
    <input type="text" class="form-control" id="description">
  </div>
  <div class="col-md-6">
    <label for="img1" class="form-label">Снимка 1:</label>
    <input type="file" name="img1">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Създай</button>
  </div>
</form>

