<h1 class="page-title">Резервации</h1>

<div class="card-apartament">
    {{#each reservations}}
    <p>{{this.propertyId}}</p>
    {{else}}
    <p>Няма създадени имоти под наем</p>
    {{/each}}
</div>
