<h1 class="page-title">Наеми</h1>

<div class="card-apartament">
    <div class="card" style="width: 18rem;">
        <img src="https://archello.s3.eu-central-1.amazonaws.com/images/2020/12/17/michel-macedo-arquitetos-va-apartament-apartments-archello.1608202208.8936.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Редактиране</a>
            <a href="#" class="btn btn-primary">Изтриване</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="https://archello.s3.eu-central-1.amazonaws.com/images/2020/12/17/michel-macedo-arquitetos-va-apartament-apartments-archello.1608202208.8936.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Редактиране</a>
            <a href="#" class="btn btn-primary">Изтриване</a>
        </div>
    </div>
</div>

<div id="create-rent">
    <a href="#" class="btn btn-primary">Създаване на имот под наем</a>
</div>