<h1 class="page-title">{{aboutData.title}}</h1>

<section class="history">
    <h4 class="page-title-3">История на фирмата</h4>

    <p class="history-paragraph">{{aboutData.history}}</p>
</section>

<section class="info-today">
    <h4 class="page-title-3">Услуги, предлагани от фирмата</h4>

    <p class="history-paragraph">{{aboutData.info}}</p>
</section>