<h1 class="page-title">За нас</h1>

<div class="history">
    <h4 class="page-title-3">История на фирмата</h4>

    <p class="history-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, qui rerum quas accusantium neque nam odio et
        enim, quidem quia vitae ducimus ipsam perferendis facilis officia aperiam vero quo tenetur magnam at. Atque,
        nobis hic. Nam dolorem aperiam tempora fugiat?</p>
</div>

<div class="info-today">
    <h4 class="page-title-3">Фирмата днес</h4>

    <p class="history-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus, qui rerum quas accusantium neque nam odio et
        enim, quidem quia vitae ducimus ipsam perferendis facilis officia aperiam vero quo tenetur magnam at. Atque,
        nobis hic. Nam dolorem aperiam tempora fugiat?</p>
</div>