<div class="container-products">
    <h1 id="favourites-title">Любими продукти</h1>
    
    <div class="product">
        <img src="product1.jpg" alt="Продукт 1">
        <h2>Продукт 1</h2>
        <p>Описание на продукт 1.</p>
    </div>

    <div class="product">
        <img src="product2.jpg" alt="Продукт 2">
        <h2>Продукт 2</h2>
        <p>Описание на продукт 2.</p>
    </div>
</div>
