<form action="/user/login" method="POST" id="loginForm">
    <label for="username">Потребителско име:</label>
    <input type="text" id="username" name="username">

    <label for="password">Парола:</label>
    <input type="password" id="password" name="password">

    <input type="submit" name="register" id="register" value="Влизане">
</form>