<h1 class="page-title">Приключване на резервацията</h1>

<div class="reserve-form">
    <form action="/user/reserve" method="POST" id="reserve-form">
        <div class="mb-3">
            <label for="names" class="form-label">Име и фамилия</label>
            <input type="text" class="form-control" id="names" placeholder="Въведете името си" name="names">
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Дата за оглед</label>
            <input type="text" class="form-control" id="date" placeholder="01.01.2024" name="date">
        </div>
         <div class="mb-3">
            <label for="time" class="form-label">Час за оглед</label>
            <input type="text" class="form-control" id="time" placeholder="10:00" name="time">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Изпрати</button>
        </div>
    </form>
</div>