<section class="tenks-for-order">
    <h1>Благодарим Ви, че избрахте "Домко"!</h1>
    <p>Нашият екип ще се свърже с Вас 3 дни преди деня за оглед.</p> <a href="/rent/gallery/{{this._id}}"
        class="btn btn-primary" style="background-color: #000; border-color: beige">Продължете търсенето</a>
</section>